--upgrade pip
numpy==1.23.3
--upgrade tensorflow
--upgrade tensorflow numpy

h5py
typing-extensions
wheel
yfinance
plotly
pystan
holidays==0.10.5.2
convertdate 
streamlit==1.16.0
lunarcalendar
fbprophet

notebook==6.2.0
mxnet-mkl==1.6.0 
packaging==20.8
pandas==1.2.1
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.0
sklearn==0.0
langdetect
tensorrt
nltk==3.8.1
importlib-metadata==3.4.0


