
yfinance
plotly
pystan==3.7.0
fbprophet
tensorflow
notebook==6.2.0
mxnet-mkl==1.6.0 
numpy
packaging==20.8
pandas==1.2.1
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.0
sklearn==0.0
langdetect
tensorrt
streamlit==0.75.0
nltk==3.8.1
importlib-metadata==3.4.0
streamlit


